<h1>Keresés</h1>
<table><tbody>
<tr>
	<form action="/list/search" method="post">
	<td class="clean"><input type="text" name="search" placeholder="Munkajegyszám" style="width: 165px;"/></td>
	<td class="clean"><button id="yellow" type="submit" class="material-icons">search</button></td>
	</form>
</tr>
</tbody></table>
<table class="butts"><thead>
	<form action="/new" method="get">
	<th class="clean"><button id="blue" type="newRecord" class="material-icons">add_to_photos</button></th>
	</form>
	<form action="/about" method="get">
	<th class="clean"><button id="yellow" type="info" class="material-icons">info</button></th>
	</form>
	<form action="/login/logout" method="get">
	<th class="clean"><button id="red" type="exit" class="material-icons">directions_run</button></th>
	</form>
</thead></table>
<h1>Folyamatban</h1>
<table>
	<thead>
  <th style="width: 170px;">Munkajegyszám</th>
	<th style="width: 580px;">Rövid Ismertető</th>
	<th style="width: 170px;">Hozzáadás Dátuma</th>
	</thead>
<tbody> 
  {{#falseRow}}
    <tr> 
			<td>{{this.workNumber}}</td>
      <td>{{this.shortNote}}</td>
			<td>{{this.timeStamp}}</td>
			<td class="clean"> <div class="makeItDone"> <form action="/list/{{this.id}}" method="get"> 
			<button id="green" type="submit" class="material-icons">done</button> </form> </div> </td>
			<td class="clean"> <div class="upDateRecord"> <form action="/edit/{{this.id}}" method="get">
			<button id="blue" type="submit" class="material-icons">view_list</button> </form> </div> </td>
    </tr>
  {{/falseRow}} 
</tbody> 
</table>
<h1>Kész</h1>
<table>
	<thead> 
  <th style="width: 170px;">Munkajegyszám</th>
	<th style="width: 580px;">Rövid Ismertető</th>
	<th style="width: 170px;">Hozzáadás Dátuma</th>
	</thead>
<tbody> 
  {{#trueRow}}
    <tr> 
			<td>{{this.workNumber}}</td>
      <td>{{this.shortNote}}</td>
			<td>{{this.timeStamp}}</td>
			<td class="clean"> <div class="makeItDone"> <form action="/list/{{this.id}}" method="get"> 
			<button id="yellow" type="submit" class="material-icons">cached</button> </form> </div> </td>
			<td class="clean"> <div class="upDateRecord"> <form action="/edit/{{this.id}}" method="get">
			<button id="blue" type="submit" class="material-icons">view_list</button> </form> </div> </td>
    </tr>
  {{/trueRow}} 
</tbody> 
</table>